.signin {
  width: 30%;
  margin: 10rem auto;

  & button {
    width: 100%;
    border: none;
    padding: 1rem;
    border-radius: 0.4rem;
    cursor: pointer;
    background-color: rgb(23, 141, 23);
    color: #ffffff;
    font-size: 1.6rem;
    transition: 0.3s;

    &:hover {
      background-color: rgb(14, 75, 14);
    }
  }
}
